:root {
    --primary-color: #1db954;
    --surface-color: #282828;
    --background-color: #121212;
    --on-primary-color: #ffffff;

    --secondary-color: #181818;
    --triary-color: #282828;

    --outline-color: #282828;
    --text-primary-color: #ffffff;
    --text-secondary-color: #b3b3b3;
}